<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    
    <meta name="description" content="{% if description %}{{description}}{% else %}{{settings.description}}{% endif %}" />
    
    
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{% if description %}{{description}}{% else %}{{settings.description}}{% endif %}" />
    <meta property="og:image" content="{{settings.image}}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="FinallyCanuck.com logo" />


    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    <link href="https://github.com/finallycanuck" rel="me">
    <link href="https://tech.lgbt/@finallycanuck" rel="me">
    <link rel="webmention" href="https://webmention.io/finallycanuck.com/webmention" />
    <link rel="pingback" href="https://webmention.io/finallycanuck.com/xmlrpc" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for FinallyCanuck.com" href="/rss/" />
  </head>
  <body>
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>