---
permalink: '.well-known/webfinger'
eleventyExcludeFromCollections: true
dynamicPermalink: false
---
{
  "subject": "acct:finallycanuck@tech.lgbt",
  "aliases": [
    "https://tech.lgbt/@finallycanuck",
    "https://tech.lgbt/users/finallycanuck"
  ],
  "links": [
    {
      "rel": "http://webfinger.net/rel/profile-page",
      "type": "text/html",
      "href": "https://tech.lgbt/@finallycanuck"
    },
    {
      "rel": "self",
      "type": "application/activity+json",
      "href": "https://tech.lgbt/users/finallycanuck"
    },
    {
      "rel": "http://ostatus.org/schema/1.0/subscribe",
      "template": "https://tech.lgbt/authorize_interaction?uri={uri}"
    }
  ]
}
