<div id="webmentions">
  <h3>{{ currentPostMentionCount }} Response{%- if (currentPostMentionCount !== 1) %}s{% endif -%}&nbsp;across the web</h3>
  <p class="italic">Learn more about <a href="https://indieweb.org/Webmention" target="_blank">Webmentions</a>.
</div>