<div id="webmentions">
{% if mentions['like-of']|length %}
    <h4>Likes</h4>
    <div class="webmentions--likeboost">
        {%- for like in mentions['like-of'] %}
            <a target="_blank" rel="noopener" href="{{like.author.url}}"><img src="{{like.author.photo}}" title="{{like.author.name}}"></a>
        {% endfor%}
    </div>
{% endif %}
</div>